.TaskbarAction-grid
	display grid
	grid-template-columns repeat(3, 96px)
	grid-template-rows repeat(3, 80px)
	grid-gap 1px
	overflow hidden
	> button
		outline 1px solid #ddd
		flex-direction column
		justify-content space-evenly
		align-items flex-start
