#game
#app
	.d-full
		.d-bottomleft.w-2.h-2.m-1.full
			button.nes-btn.d-left.w-2.h-2.p-0(
				@mousedown="alert(4);func.setKey('KeyA')"
			) &lt;
			button.nes-btn.d-right.w-2.h-2(
				@mousedown="func.setKey('KeyD')"
			) &gt;
			button.nes-btn.d-top.w-2.h-2(
				@mousedown="func.setKey('KeyW')"
			) ^
			button.nes-btn.d-bottom.w-2.h-2(
				@mousedown="func.setKey('KeyS')"
			) v
