@font-face
	font-family "Press Start 2P"
	src url("https://cdn.jsdelivr.net/gh/tiencoffee/fonts/FVF Fernando.ttf")

#game
#app
.d-full
	position absolute
	width 100%
	height 100%

for ver, i in top "" bottom
	for hor, j in left "" right
		.d-{ver + hor or "middle"}
			position absolute
			if hor is right
				right 0
			else
				left j * 50%
			if ver is bottom
				bottom 0
			else
				top i * 50%
			if !hor and !ver
				transform translate(-50%, -50%)
			else if !hor
				transform translateX(-50%)
			else if !ver
				transform translateY(-50%)

for i in 0..8
	val = i / 8 * 100%
	.w-{i}
		width val
	.h-{i}
		height val

props = {
	m: margin
	p: padding
}
poss = {
	"": ""
	x: 0
	y: 0
	l: -left
	t: -top
	r: -right
	b: -bottom
}
for i, prop in props
	for j, pos in poss
		for v in 0..4
			val = (v)rem
			.{i}{j}-{v}
				if j is "x"
					{prop}-left val
					{prop}-right val
				else if j is "y"
					{prop}-top val
					{prop}-bottom val
				else
					{prop}{pos} val

[v-cloak]
	display none
