#game
#app
	.d-full
		.d-bottomleft.w-2.h-2.m-1.full
			button.nes-btn.d-left.w-2.h-2.p-0(
				@pointerdown="func.setKey('KeyA')"
				@pointermove="func.setKey()"
			) &lt;
			button.nes-btn.d-right.w-2.h-2(
				@pointerdown="func.setKey('KeyD')"
				@pointermove="func.setKey()"
			) &gt;
			button.nes-btn.d-top.w-2.h-2(
				@pointerdown="func.setKey('KeyW')"
				@pointermove="func.setKey()"
			) ^
			button.nes-btn.d-bottom.w-2.h-2(
				@pointerdown="func.setKey('KeyS')"
				@pointermove="func.setKey()"
			) v
