.select-rect
	border solid 1px #7dbcff99
	background #7dbcff33
	pointer-events none
.list
	tr
		display grid
		grid-template-columns 6fr 3fr 2fr 4fr
	td, th
		white-space pre
		overflow hidden
		text-overflow ellipsis
.selected
	background #7dbcff99
