.App
.App-brightness
	position fixed
	width 100%
	height 100%
.App-brightness
	background #000
	z-index 999999999 !important
	pointer-events none
.App-taskbar
	position fixed
	width 100%
	z-index 999 !important
